html {
	font-family: arial,helvetica,sans-serif;
	font-size: 10pt;
	overflow: visible;
  }
body {
	background: #EEF2FF;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:100px;
	cursor:auto;
}
  .container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	overflow: hidden;
	gap:5px;
	margin-bottom: 0em;
	margin-left: auto;
	margin-right: auto;
  }
  .container.flex-start {
	justify-content: flex-start;
  }
  .container.center {
	justify-content: center;
  }
  .item {
	align-self: center;
	font-size: 1em;
	line-height: 1.2em;
	text-align: left;
	padding: 1.5em 2em;
	background: #D6DAF0;
	border: 1px solid #B7C5D9;
	border-style: none solid solid none;
	color: black;
  }
  .item.outer {
	flex-direction: row;
	align-self: flex-center;
	max-width: 100%;
	font-size: 1em;
	line-height: 1em;
	text-align: left;
	padding: 0.8em 1em;
	background: #D6DAF0;
	border: 1px solid #B7C5D9;
	border-style: none solid solid none;
	color: black;
  }
  .item.inner {
	align-self: flex-center;
	max-width: 100%;
	font-size: 1em;
	line-height: 1.2em;
	text-align: left;
	padding: 1em 1em;
	background: #D6DAF0;
	border: 1px solid #B7C5D9;
	border-style: none none none none;
	color: black;
  }
  .item.title {
	align-self: flex-center;
	max-width: 100%;
	font-family: Tahoma,sans-serif;
	font-size: 28px;
	font-weight: 700;
	letter-spacing: -2px;
	padding: 0.8em 1em;
	margin-bottom: 2%;
	background: #EEF2FF;
	border: 1px solid #B7C5D9;
	border-style: none none solid none;
	color:#af0a0f;
	}
  .item.img {
	align-self: center;
	padding: 4rem;
	background: transparent;
	border: 0px solid #B7C5D9;
	border-style: none none none none;
  }
  .item.bg {
	padding: 0rem;
	background: transparent;
	border: 0px solid #B7C5D9;
	border-style: none none none none;
  }
  .yanimg:hover {
		width: 100%;
  }
  .greentext {
	color: #789922;
  }
  .redtext {
	color: #d00;
	text-decoration: underline;
  }
  a:link {
	color: #d00;
  }
  /* visited link */
  a:visited {
	color: #d00;
  }
  
  /* mouse over link */
  a:hover {
	color: #d00;
  }
  
  /* selected link */
  a:active {
	color: #d00;
  }
  
  
  #zestpod {
	width: 30vh;
	cursor: pointer;
	animation: hover 3s ;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
  }
	
  @keyframes hover {
	from {transform: translateY(1px); }
	50% {transform: translateY(8px); }
	to {transform: translateY(0px); }
  }
  
  #zestypod {
	width: 30vh;
	animation: zestup 0.075s ;
	animation-timing-function: linear;
	animation-iteration-count: 10;
  }
	
  @keyframes zestup {
	from {transform: translateY(0px); }
	50% {transform: translateY(8px); }
	to {transform: translateY(0px); }
  }

  
  .loading {
	align-self: center;
  }
  .loading:after {
	display: inline-block;
	animation: dotty steps(1,end) 2s infinite;
	content: '';
  }
  @keyframes dotty {
	0%   { content: '\a0\a0\a0'; }
	25%  { content: '.\a0\a0'; }
	50%  { content: '..\a0'; }
	75%  { content: '...'; }
	100% { content: '\a0\a0\a0'; }
  }
  
  #waiting {
	  width: 100vw; /* Could also use width: 100%; */
	  height: 100vh;
	  object-fit: cover;
	  position: fixed; /* Change position to absolute if you don't want it to take up the whole page */
	  left: 0px;
	  top: 0px;
	  z-index: -1;
  }
  #screenshot {
	width: 100vw; /* Could also use width: 100%; */
	height: 100vh;
	object-fit: cover;
	position: fixed; /* Change position to absolute if you don't want it to take up the whole page */
	left: 0px;
	top: 0px;
	z-index: -2;
	pointer-events: none;
  }

 
  .peak {
	position: fixed;
	margin-bottom: 0;
	padding-bottom: 0;
	margin-left: 0;
	padding-left: 0;
	left: 0px;
	z-index: 1;
	width: 10%;
  }
  
  @media only screen and (max-width: 700px) {
	.container {
	  max-width: 95%;
	  }
	.item {
	  max-width: 100%;
	  line-height: 1.3em;
	  padding: 1em 1em;
	}
	.peak {
	  width: 25%;
	}
	.item.img {
	  padding: 2rem;
	}
	#zestpod {
		width: 20vh;
		margin-top: 20%;
		margin-bottom: 10px;
	}
	#zestypod {
		width: 20vh;
		margin-top: 20%;
		margin-bottom: 10px;
	}
	}